@import "tailwindcss";

@theme {
  /* Estos son los colores de tus capturas */
  --color-itv-bg: #0f172a;
  --color-itv-card: #1e293b;
  --color-itv-blue: #3b82f6;
}

/* Forzamos que el cuerpo de la web siempre sea oscuro */
body {
  background-color: #0f172a;
  color: white;
  margin: 0;
  font-family: sans-serif;
}